.Header{
  position: fixed;
  background-color: rgb(255, 249, 239);
  height: 50px;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  
  border-bottom: solid 1px;
}

.Left-section{
  margin-left: 15px;
  display: flex;
}
.Name{
  white-space: nowrap;
}

.Icon{
  width: 20px;
  margin-right: 6px;
  object-fit: cover;
  object-fit: contain;
}
.Right-section{
  display: flex;
  margin-right: 15px;
}
.Navigator{
  margin-right: 15px;
  cursor: pointer;
  display: flex;
}
.Collegamento{
  display: flex;
}
.Collegamento:active,
.Collegamento:visited,
.Collegamento:hover,
.Collegamento:link{
  text-decoration: none;
  color: black;
  
}