.Home-page{
  display: flex;
  margin-top: 50px;
  margin-left: 115px;
  margin-right: 115px;
  background-color: rgb(255, 249, 239);

}
.Foto-profilo{
  height: 800px;
  object-fit: cover;
  object-fit: contain;
}
.Presentazione{
  color: black;
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 50px;
  width: 100%;
  font-size: 22px;
}
.Lavoro{
  font-weight: bold;
  font-size: 28px;
}

.Immagine1{
  width: 100%;
  margin-bottom: 50px;
  opacity: 0.5;
}
.Sfondo{
  position: relative;
}
.Testo_immagine1{
  width: 400px;
  position: absolute;

  top: 20%;

  left: 50%;
  margin-left: -200px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;
}
.Testo2_immagine1{
  width: 1200px;
  position: absolute;

  top: 30%;

  left: 50%;
  margin-left: -600px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;

}