.Linea_1{
  color: rgb(27, 27, 27);
  margin-left: 30px;
  margin-right: 30px;
  opacity: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.Home-page{
  display: flex;
  margin-top: 100px;
  margin-left: 115px;
  margin-right: 115px;
  
  background-color: white; /*rgb(255, 249, 239)*/

  box-shadow: inset -5px -5px 4px rgba(91, 91, 91, 0.20);

  border-radius: 10px;

  


  

}
.Foto-profilo_About{
  height: 1070px;
  object-fit: cover;
  object-fit: contain;

  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  
  border-radius: 10px;

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  display: none;
}
.Foto-profilo_Home{
  height: 800px;
  object-fit: cover;
  object-fit: contain;

  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  
  border-radius: 10px;

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  display: none;
}

.Foto-profilo_Home_Mobile{
 
  display: none;

  

  
}

.Presentazione{
  color: black;
  
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;

  width: 100%;
  font-size: 22px;
}
.Lavoro{
  font-weight: bold;
  font-size: 28px;
}


.Immagine1{
  width: 100%;
  opacity: 0.5;
}
.Sfondo{
  position: relative;
  margin: 0;
  
  
}
.Testo_immagine1{
  width: 1400px; /*560px*/
  position: absolute;

  top: 15%;

  left: 50%;
  margin-left: -700px;

  
  white-space: nowrap;

  color: white;
  font-size: 40px;

  display: flex;
  justify-content: center;
}
.Testo2_immagine1{
  width: 1400px; /*1280px*/
  position: absolute;

  top: 25%;

  left: 50%;
  margin-left: -700px;

  white-space:nowrap;
  

  color: white;
  font-size: 30px;

  display: flex;
  justify-content: center;

 

}

.Testo3_immagine1{
  width: 1400px;
  position: absolute;

  top: 30%;

  left: 50%;
  margin-left: -700px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;

  display: flex;
  justify-content: center;

}
.Testo4_immagine1{
  width: 1400px;
  position: absolute;

  top: 50%;

  left: 50%;
  margin-left: -700px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;

  display: flex;
  justify-content: center;
}
.Testo5_immagine1{
  width: 1400px;
  position: absolute;

  top: 55%;

  left: 50%;
  margin-left: -700px;


  
  white-space: nowrap;

  color: white;
  font-size: 30px;

  display: flex;
  justify-content: center;
}

.bottone1{
  width: 250px;
  position: absolute;

  top: 65%;

  left: 50%;
  margin-left: -125px;


  
  white-space: nowrap;

  color: white;
  font-size: 30px;

  padding: 20px 10px 20px 10px;

  background-color: rgb(240, 240, 240, 0.5);
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  font-family: Merriweather, lora, Montserrat;
  
  cursor: pointer;
}

.bottone1:active,
.bottone1:hover{
  border-color: white;

}

.About:hover,
.About:active,
.About:link,
.About:visited{
  color: black;
  font-size: 24px;

}

