.Home-page{
  display: flex;
  margin-top: 100px;
  margin-left: 115px;
  margin-right: 115px;
  background-color: rgb(255, 249, 239);

}
.Foto-profilo{
  height: 800px;
  object-fit: cover;
  object-fit: contain;
}
.Presentazione{
  color: black;
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 50px;
  width: 100%;
  font-size: 22px;
}
.Lavoro{
  font-weight: bold;
  font-size: 28px;
}

.Immagine1{
  width: 100%;
  opacity: 0.5;
}
.Sfondo{
  position: relative;
}
.Testo_immagine1{
  width: 550px;
  position: absolute;

  top: 20%;

  left: 50%;
  margin-left: -275px;

  
  white-space: nowrap;

  color: white;
  font-size: 40px;
}
.Testo2_immagine1{
  width: 1220px;
  position: absolute;

  top: 30%;

  left: 50%;
  margin-left: -610px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;

}
.Testo3_immagine1{
  width: 500px;
  position: absolute;

  top: 35%;

  left: 50%;
  margin-left: -275px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;

}
.Testo4_immagine1{
  width: 350px;
  position: absolute;

  top: 55%;

  left: 50%;
  margin-left: -175px;

  
  white-space: nowrap;

  color: white;
  font-size: 30px;
}
.Testo5_immagine1{
  width: 900px;
  position: absolute;

  top: 60%;

  left: 50%;
  margin-left: -450px;


  
  white-space: nowrap;

  color: white;
  font-size: 30px;
}
