@media screen and (min-width: 0px) and (max-width: 439px){
  .Testo_immagine1{
    font-size: 10px;
    margin-left: -64px;
    margin-top: 20px;
   }
   .Testo2_immagine1{
     font-size: 7px;
     margin-left: -150px; 
     margin-top: 20px;
     
   }
   .Testo3_immagine1{
     font-size: 7px;
     margin-left: -63px;
     margin-top: 20px;
   }
   .Testo4_immagine1{
     font-size: 7px;
     margin-left: -42px;
     margin-top: 20px;
   }
   .Testo5_immagine1{
     font-size: 7px;
     margin-left: -78px;
     margin-top: 20px;
   }
   .bottone1{
     width: 100px;
     font-size: 10px;
     margin-left: -45px;
     margin-top: 20px;

     padding: 10px 5px 10px 5px;
     border-radius: 15px;
   }
   .Header{
    font-size: 15px;
    height: 45px;
   }
   .Icon2{
    width: 15px;
   }
 }

 @media screen and (min-width: 440px) and (max-width: 670px){
  .Testo_immagine1{
    font-size: 14px;
    margin-left: -95px;
    margin-top: 20px;
   }
   .Testo2_immagine1{
     font-size: 10px;
     margin-left: -214px; 
     margin-top: 20px;
     
   }
   .Testo3_immagine1{
     font-size: 10px;
     margin-left: -94px;
     margin-top: 20px;
   }
   .Testo4_immagine1{
     font-size: 10px;
     margin-left: -63px;
     margin-top: 20px;
   }
   .Testo5_immagine1{
     font-size: 10px;
     margin-left: -117px;
     margin-top: 20px;
   }
   .bottone1{
     width: 140px;
     font-size: 14px;
     margin-left: -68px;
     margin-top: 20px;
   }

   .Header{
    font-size: 15px;
    height: 45px;
   }

   .Icon2{
    width: 20px;
   }


 }
 
 @media screen and (min-width: 671px) and (max-width: 870px) { /*Tablet 481-768*/
  .Testo_immagine1{
   font-size: 20px;
   margin-left: -140px;
   margin-top: 20px;
  }
  .Testo2_immagine1{
    font-size: 15px;
    margin-left: -320px;
    margin-top: 20px;
    
  }
  .Testo3_immagine1{
    font-size: 15px;
    margin-left: -141px;
    margin-top: 20px;
  }
  .Testo4_immagine1{
    font-size: 15px;
    margin-left: -95px;
    margin-top: 20px;
  }
  .Testo5_immagine1{
    font-size: 15px;
    margin-left: -175px;
    margin-top: 20px;
  }
  .bottone1{
    width: 200px;
    font-size: 20px;
    margin-left: -100px;
    margin-top: 20px;
  }
 }
 @media screen and (min-width: 871px) and (max-width: 1300px) {
  .Testo_immagine1{
    font-size: 27px;
    margin-left: -187px;
    margin-top: 20px;
   }
   .Testo2_immagine1{
     font-size: 20px;
     margin-left: -427px;
     margin-top: 20px;
     
   }
   .Testo3_immagine1{
     font-size: 20px;
     margin-left: -184px;
     margin-top: 20px;
   }
   .Testo4_immagine1{
     font-size: 20px;
     margin-left: -127px;
     margin-top: 20px;
   }
   .Testo5_immagine1{
     font-size: 20px;
     margin-left: -234px;
     margin-top: 20px;
   }
   .bottone1{
     width: 167px;
     font-size: 20px;
     margin-left: -84px;
     margin-top: 20px;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 349px){
  .Home-page{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap; /*Non serve in tepria, perche ho imposta il padding*/

    padding: 0 15px 50px 15px;

    margin: 70px 15px 20px 15px;


    
    
  }
  .Foto-profilo_Home_Mobile{
  
  width: 180px;
  
  margin-top: 20px;
  
  border-radius: 250px;
  display: inline;
 
  
  
  }
  .Presentazione{
   
  margin: 0;
  }

.Istruzione1,
.Istruzione2,
.Istruzione3{
  width: 60px !important; 

 }
  

 }


 @media screen and (min-width: 350px) and (max-width: 559px){
  .Home-page{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap; /*Non serve in tepria, perche ho imposta il padding*/

    padding: 0 15px 50px 15px;

    margin: 70px 25px 25px 25px;


    
    
  }
  .Foto-profilo_Home_Mobile{
  
  width: 250px;
  
  margin-top: 20px;
  
  border-radius: 250px;
  display: inline;
 
  
  
  }
  .Presentazione{
   
  margin: 0;
  }
  
.Istruzione1,
.Istruzione2,
.Istruzione3{
  width: 70px !important; 

 }
}


 @media screen and (min-width: 560px) and (max-width: 1199px){
  .Home-page{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap; /*Non serve in tepria, perche ho imposta il padding*/

    padding: 0 50px 50px 50px;

    margin: 100px 50px 50px 50px;


    
    
  }
  .Foto-profilo_Home_Mobile{
  
  width: 250px;
  
  margin-top: 20px;
  
  border-radius: 250px;
  display: inline;
 
  
  
  }
  .Presentazione{
   
  margin: 0;
  }
  

 }
 @media screen and (min-width: 1200px){ /*Da 1200px in poi*/
  .Foto-profilo_Home,
  .Foto-profilo_About{
    display: flex;
  }
 }