body{
  background-color: rgb(26,26,26);
  height: 100%;
  font-family: Merriweather, lora, montserrat;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  width: 100%;

}
@media screen and (max-width: 768px) {

 }
 @media screen and (max-width: 480px) {
  
 }
 @media screen and (max-width: 768px) {
  
 }
 @media screen and (min-width: 1024px) {
  
 }
 @media screen and (min-width: 1200px) {
  
 }

